<div ng-app="MinutenApp" ng-controller="MinutenController">
    <h1>På Minuten - Avsnitt</h1>
    <div class="form-group">
        <label for="searchEpisode">Sök avsnitt: </label>
        <input type="text" class="form-control" id="searchEpisode" placeholder="Sök" ng-model="searchText">
    </div>
    <div class="form-group">
        <label for="sortSelect">Sortera: </label>
        <select id="sortSelect" class="form-control" ng-model="sortColumn">
            <option value="date">Äldsta först</option>
            <option value="-date">Senaste först</option>
        </select>
    </div>
    <hr />
    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" heading="{{episode.title}}" ng-repeat="episode in episodes | orderBy:sortColumn | filter:searchText">
            <strong>{{episode.date | date:"yyyy-MM-dd"}}</strong>
            <br />
            <p>{{episode.description}}</p>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="altTitle{{episode.id}}">Alt. Titel</label>
                        <input id="altTitle{{episode.id}}" type="text" class="form-control" ng-model="episode.altTitle" />
                    </div>
                    <div class="form-group">
                        <label for="originalDate{{episode.id}}">Originaldatum</label>
                        <input id="originalDate{{episode.id}}" type="text" class="form-control" ng-model="episode.originalDate" />
                    </div>
                    <div class="form-group">
                        <label for="winnersPrize{{episode.id}}">Vinnarpris</label>
                        <input id="winnersPrize{{episode.id}}" type="text" class="form-control" ng-model="episode.winnersPrize" />
                    </div>
                    <div class="form-group">
                        <label for="myComment{{episode.id}}">Kommentar</label>
                        <textarea id="myComment{{episode.id}}" name="myComment{{episode.id}}" cols="20" rows="20" class="form-control" ng-model="episode.myComment"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="myRating{{episode.id}}">Mitt betyg</label>
                        <div id="myRating{{episode.id}}" uib-rating ng-model="episode.myRating" max="5" aria-labelledby="default-rating"></div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <label for="panelMembers{{episode.id}}">Panelmedlemmar:</label>
                    <div id="panelMembers{{episode.id}}" class="form-group">
                        <select ng-options="" class="form-control" ng-model="episode.panelMembers" multiple>
                            option ng-repeat="p in pmembers" ng-value="{{p.id}}">{{p.name}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="updateEpisode(episode)">Spara</button>
            </div>

        </div>
    </uib-accordion>
</div>
@section Scripts
{
    <script src="~/Scripts/app/app.js"></script>
}
