<div ng-app="MinutenApp">
    <h1>{{"HEj" + " ...hopp!"}}</h1>
    <div ng-controller="MinutenController as MinutenCtrl" ng-init="listEpisodes()">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="episode in episodes"><span class="badge">{{episode.date}}</span>{{episode.title}}</li>
        </ul>
        
        <div class="well">{{episodes.length}}</div>
    </div>
</div>
@section Scripts
{
<script src="~/Scripts/minuten-app.js"></script>    
}