<div ng-app="MinutenApp" ng-controller="MinutenController">
    <h1>{{"HEj" + " ...hopp!"}}</h1>

    <div class="form-group">
        <label for="searchEpisode">Sök avsnitt: </label>
        <input type="text" class="form-control" id="searchEpisode" placeholder="Sök" ng-model="searchText">
    </div>
    <div class="form-group">
        <label for="sortSelect">Sortera: </label>
        <select id="sortSelect" class="form-control" ng-model="sortColumn">
            <option value="date">Äldsta först</option>
            <option value="-date">Senaste först</option>
        </select>
    </div>

    <div id="eplist">

        <div ng-repeat="episode in episodes | orderBy:sortColumn | filter:searchText">
            <a href="#" data-toggle="collapse" data-target="#{{episode.id}}" data-parent="#eplist" class="list-group-item">
                {{episode.title}}
            </a>
            <div id="{{episode.id}}" class="sublinks collapse">
                {{episode.date | date:"yyyy-MM-dd"}}
                <br />
                {{episode.description}}
                <label for="altTitle">Alt. Titel</label>
                <input id="altTitle" type="text" class="form-control" ng-model="episode.altTitle" />
                <label for="originalDate">Originaldatum</label>
                <input id="originalDate" type="text" class="form-control" ng-model="episode.originalDate" />
                <label for="winnersPrize">Vinnarpris</label>
                <input id="winnersPrize" type="text" class="form-control" ng-model="episode.winnersPrize" />
                <label for="myComment">Kommentar</label>
                <input id="myComment" type="text" class="form-control" ng-model="episode.myComment" />
                <label for="myRating">Mitt betyg</label>
                <input id="myRating" type="number" class="form-control" ng-model="episode.myRating" />

                <button type="button" class="btn btn-primary" ng-click="updateEpisode(episode)">Spara</button>
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/app/app.js"></script>
}
